menu "Memory Configuration"

config MBASE_NOSOC
  hex "Memory base address"
  depends on !SOC
  default 0x80000000

config MBASE_SOC
  hex "SOC memory base address"
  depends on SOC
  default 0x20000000

config MBASE
  hex
  default MBASE_SOC if SOC
  default MBASE_NOSOC

config MSIZE
  hex "Memory size"
  default 0x8000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0x100000 if ISA_x86
  default 0

choice
  prompt "Physical memory definition"
  default PMEM_GARRAY
config PMEM_MALLOC
  bool "Using malloc()"
config PMEM_GARRAY
  depends on !TARGET_AM
  bool "Using global array"
endchoice

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

endmenu #MEMORY
